#grid {
    border: 5px solid black;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: center;
    height: 500px;
    width: 500px;
    
}

.cell {
    background-color: rgb(223, 220, 219); 
}
